.DataController {
    margin-top: 10px;
    margin-bottom: 15px;
}

.table-wrap{
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
}

.delete-link, .delete-link:hover, .delete-link:active{
    color: var(--bs-danger);
    outline: none;
    padding: 0;
}

.help-table, .annotations-list{
    flex: 1;
}



.no-data{
    display: grid;
    place-items: center;
    padding: 40px;
    height: 320px;
    background-color: #eee;
    color: #aaa;
    font-size: 48px;
}